# Destinataire
RECIPIENT_EMAIL=92mamadousy@gmail.com

# Recherche
CITY_QUERY=laval
CITY_POSTAL_CODE=53000
MAX_RESULTS=50
INCLUDE_PARKING=false

# SMTP Gmail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=92mamadousy@gmail.com
SMTP_PASSWORD=colle_ici_un_mot_de_passe_d_application_gmail
